
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap%27');

@media (max-width: 990px){

  #login-button{
    position: absolute;
    right: 500px;
  }
}

.nav-link{
  text-align: right;
}


.top-banner{
  position: relative;
  height: 75vh;
  min-height: 500px;
  margin-bottom: 10px;
  background-image: url("8888s-Strike.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-cover {
    background: rgb(255 252 170 / 35%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}



.top-banner-text{
  padding-top: 15vh;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 1;
}

.top-banner-text h1{
  font-size: 8vw;
  padding-bottom: 1.5vw;
  font-weight: bold;
}

.top-banner-text h2{
  font-size: 4vw;
}

.navigation{
  position: relative;
}


@media (max-width: 767px){
  .entr{
    padding-bottom: 20px;
  }
  .top-banner-text{
    padding-top: 5vh;
  }

  .mapSearch{
    margin-bottom: 10vh;
  }
}

.mapSearch{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  background-color: #666666;
  border-radius: 2vh;
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 1;
  margin-bottom: 16vh;
  font-size: 0.85rem;
}

@media (max-width: 990px){
  .mapSearch{
    margin-bottom: 9vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 0.8rem;
  }

  .form-control{
    font-size: 0.8rem;
  }

}

@media (max-width: 576px){
  .mapSearch{
    margin-bottom: 3vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 0.7rem;
  }
  .form-control{
    font-size: 0.7rem;
  }


}

@media (max-width: 300px){
  .mapSearch{
    margin-bottom: 2vh;
    font-size: 0.5rem;
  }

  .form-control{
    font-size: 0.5rem;
  }


}


.sel{
  height: 20px;
  color: white;
  padding-left: 3%;
  padding-right:3%;
}

.sel:hover{
  background-color: #e65c00;
  border-radius: 5px;
}

.mapInfoForm{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.select-bar{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-btn:hover{
  color: white;
  background-color: #e65c00;
}

#mapCont {
  height: 75vh;
  width: 100vw;
  top: 100vh;
  position: absolute;
  visibility: hidden;
  background-color: red;
  z-index: 100;
  min-height: 500px;
}


#map {
  height: 100%;
  width: 80%;
  background-color: grey;
  float: right;
}

.body{
  padding-left: 3%;
  padding-right: 3%;
}

.supported-bar{
  height: 25vh;
  background-color: yellow;
}
