
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap%27');

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100vw;
}


.nav-link{
  text-align: right;
}

/* #login-btn{
  position: absolute;
} */

#top-navbar{
  position: relative;
  top: 0;
  width: 100%;
}

.navbar-custom{
  background-color: #666666;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
  font-family: 'Oswald', sans-serif;
  size: 1.25rem;
}

.navbar-custom .navbar-nav .nav-link{
  color: white;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.navbar-custom .navbar-nav .nav-link:hover{
  background-color: #e65c00;
  border-radius: 10px;
}

.navbar-custom .navbar-toggler{
  background-color: white;
  color: #666666;
  margin-bottom: 15px;
}

.navbar-custom .nav-item .dropdown-menu{
  background-color: #666666;
  border-color: white;
  border-width: 5px;
}

.navbar-custom .nav-item .dropdown-item{
  background-color: #666666;
  color: white;
  font-family: 'Oswald', sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.navbar-custom .nav-item .dropdown-item:hover{
  background-color: #e65c00;
  border-radius: 10px;
}



.top-banner{
  position: relative;
  height: 75vh;
  min-height: 500px;
  margin-bottom: 10px;
  background-image: url("8888s-Strike.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.section-cover {
    background: rgb(255 252 170 / 70%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.top-banner-text{
  padding-top: 15vh;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 1;
}

.top-banner-text h1{
  font-size: 8vw;
  padding-bottom: 1.5vw;
  font-weight: bold;
}

.top-banner-text h2{
  font-size: 4vw;
}

#placeholder{
  position: absolute;
}



@media (max-width: 767px){
  .entr{
    padding-bottom: 20px;
  }
  .top-banner-text{
    padding-top: 5vh;
  }

  .mapSearch{
    margin-bottom: 10vh;
  }
}

.mapSearch{
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  background-color: #666666;
  border-radius: 2vh;
  font-family: 'Oswald', sans-serif;
  position: relative;
  z-index: 1;
  margin-bottom: 16vh;
  font-size: 0.85rem;
}

@media (max-width: 990px){
  .mapSearch{
    margin-bottom: 9vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: 0.8rem;
  }

  .form-control{
    font-size: 0.8rem;
  }

  .navbar-custom .navbar-nav .nav-link,
  .navbar-custom .navbar-toggler,
  .navbar-custom .nav-item .dropdown-item {
    font-size: 0.8rem;
  }

  .navbar-custom .navbar-brand {
    font-size: 0.9rem;
  }

}

@media (max-width: 576px){
  .mapSearch{
    margin-bottom: 3vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 0.7rem;
  }
  .form-control{
    font-size: 0.7rem;
  }

  .navbar-custom .navbar-nav .nav-link,
  .navbar-custom .navbar-toggler,
  .navbar-custom .nav-item .dropdown-item {
    font-size: 0.7rem;
  }

  .navbar-custom .navbar-brand {
    font-size: 0.8rem;
  }


}

@media (max-width: 300px){
  .mapSearch{
    margin-bottom: 2vh;
    font-size: 0.5rem;
  }

  .form-control{
    font-size: 0.5rem;
  }


  .navbar-custom .navbar-nav .nav-link,
  .navbar-custom .navbar-toggler,
  .navbar-custom .nav-item .dropdown-item {
    font-size: 0.5rem;
  }

  .navbar-custom .navbar-brand{
    font-size: 0.7rem;
  }




}


.sel{
  height: 20px;
  color: white;
  padding-left: 3%;
  padding-right:3%;
}

.sel:hover{
  background-color: #e65c00;
  border-radius: 5px;
}

.mapInfoForm{
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.select-bar{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-btn:hover{
  color: white;
  background-color: #e65c00;
}


#mapCont {
  height: 75vh;
  width: 100vw;
  position: relative;
  background-color: red;
  z-index: 100;
  min-height: 500px;
  display: none;
}

#map {
  height: 100%;
  width: 100%;
  background-color: grey;
  float: right;
  z-index: 1;
}

#mapSearchBox{
  float: left;
  margin-top: 10vh;
  color: white;
  width: auto;
  position: absolute;
  z-index: 2;
  background-color: gray;
  padding: 1rem;
  height: auto;
  border-radius: 10px;
}

.body{
  padding-left: 3%;
  padding-right: 3%;
}

.search {
  display: block;
}

.supported-bar{
  height: 25vh;
  background-color: yellow;
}

input {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
