/************* TAG SELECTORS **********/


body {
  background-color: #F7DAD9;
}

h1 {
  color: #721906;
  font-size: 50px;
}

hr {
  background-color: white;
  border-style: dotted;
  border-width: 0;
  height: 3px;
  width: 95%;
}


/***********CLASS SELECTORS ***********/

.subHead{
  font-size: 25px;
}
.headText{
  font-family: Arial;
  font-size: 15px;
}
